@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
    font-family: "Roboto", sans-serif;
}

#pKep {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
    border: 3px solid red;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200vh;
    background-color: #f0f0f0;
}
nav {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    width: 98vw;
    min-height: 50px;
    max-height: 100px;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    margin-left: 1rem;
    padding: 5px;
    border-right: 3px solid red;
}
nav ul li:last-child {
    border-right: none;
}
nav ul li a {
    text-decoration: none;
    color: #333;
}
nav ul li a:hover {
    color: #007bff;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.aboutMe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #f0f0f0;
}
.aboutMe h1 {
    margin-left: 1rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    margin-top: 10rem;
}
.btn {
    padding: 10px;
    margin: 10px;
    width: 100px;
    height: 20px;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: red;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: blue;
}

blockquote {
    border-left: 5px solid red;
    padding: 20px;
    text-align: center;
}
#karika {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background-color: red;
    margin-right: 1rem;
}

.logo {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#port {
    font-size: 1rem;
    color: gray;
}
.NLD {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}
.NLD p {
    font-size: 2rem;
    margin: 0;
}
.rolam p {
    margin: 0;
    max-width: 800px;
}
#Rolam {
    justify-content: flex-start;
}
.rolam {
    margin-top: 50px;
}

@media (max-width: 768px) {
    #port {
        display: none;
    }
    nav ul {
        font-size: 1rem;
    }
    .NLD p {
        font-size: 1.5rem;
    }
    nav ul li {
        margin-left: 8px;
    }
    #karika {
        margin-right: 8px;
    }
    nav {
        padding-top: 2rem;
    }
}
