@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
    font-family: "Roboto", sans-serif;
}

#pKep {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    object-fit: cover;
    border: 3px solid red;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: #f0f0f0;
}
#abme {
    width: 100%;
}
nav {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    width: 98vw;
    min-height: 50px;
    max-height: 100px;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    margin-left: 1rem;
    padding: 5px;
    border-right: 3px solid red;
}
nav ul li:last-child {
    border-right: none;
}
nav ul li a {
    text-decoration: none;
    color: #333;
}
nav ul li a:hover {
    color: #007bff;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.aboutMe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}
.aboutMe h1 {
    margin-left: 1rem;
    font-size: 2rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}
.btn p {
    margin: 0;
    padding: 0;
}
.btn {
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 20px;
    text-align: center;
    border: none;
    border-radius: 16px;
    background-color: red;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ff785a;
}

blockquote {
    border-left: 5px solid red;
    padding: 20px;
    text-align: center;
}
#karika {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background-color: red;
    margin-right: 1rem;
}

.logo {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#port {
    font-size: 1rem;
    color: gray;
}
.NLD {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}
#ND {
    font-size: 2rem;
    margin: 0;
    text-decoration: none;
    color: black;
}
.NLD p {
    font-size: 2rem;
    margin: 0;
}
.rolam p {
    margin: 0;
    max-width: 800px;
}
#Rolam {
    justify-content: flex-start;
}
.rolam {
    margin-top: 100px;
}

img {
    width: 100px;
    height: 100px;
}

.munkak {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
}
.munka {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 80%;
    border: 3px solid red;
    padding: 15px;
    margin-bottom: 30px;
}
.munka img {
    width: 50%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
#Munkaim {
    height: auto;
    width: 100vw;
}
.adat {
    width: 45%;
    height: 100%;
}
.adat hr {
    border: none;
    border-top: 1px solid red;
    margin: 10px 0;
}
.adat ul {
    list-style-type: disc;
}
.adat li {
    margin-left: 30px;
    margin-bottom: 5px;
}
.adat a {
    width: 100%;
    display: block;
    text-align: end;
    color: red;
}
#mkh2 {
    width: 80%;
}

#kapcsolat {
    height: auto;
    width: 100vw;
    background-color: #333333;
    color: white;
    min-height: 100vh;
    height: auto;
    flex-direction: unset;
    align-items: unset;
}
#kapcsolat h1 {
    width: 100%;
    height: 50px;
    margin-left: 50px;
    margin-top: 50px;
}
.kapcsolat {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.contactform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 25%;
    min-width: 200px;
    height: auto;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    color: black;
}
.contactform h2 {
    color: red;
}
.contactform input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.contactform textarea {
    width: 90%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.contactform button {
    width: 90%;
    height: 50px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: red;
    color: white;
    cursor: pointer;
}
.elerheto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 300px;
    min-width: 200px;
    padding: 10px;
    border-radius: 15px;
}
.elerheto p {
    padding: 0;
    margin: 10px;
    margin-left: 25px;
}

#gugli {
    width: 300px;
    height: 500px;
}
#gugli iframe {
    width: 100%;
    height: 100%;
}
@media (max-width: 768px) {
    #port {
        display: none;
    }
    nav ul {
        font-size: 1rem;
    }
    .NLD p {
        font-size: 1.5rem;
    }
    #ND {
        font-size: 1.5rem;
    }
    nav ul li {
        margin-left: 8px;
    }
    #karika {
        margin-right: 8px;
    }
    nav {
        padding-top: 2rem;
    }
    .adat {
        width: 100%;
    }
    .munka img {
        width: 100%;
        height: auto;
    }
    .contactform {
        width: 80%;
    }
    .elerheto {
        text-align: center;
    }
    .elerheto p {
        margin: 0;
    }
}
